<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            display: flex;
            flex-direction: column;
            align-items: center; 
        }
        input, button{
            margin-top: 15px;
        }
    </style>
</head>
<body>
    <form action="" method="POST">
        <input name="address" value="addres">
        <input name="buildYear" value="build year">
        <input name="developer" value="developer">
        <button type="submit">submit</button>
    </form>
</body>
</html>