<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dummy login</title>
    <style>
        form {
            display: block;
            text-align: center;
            margin-top: 50px;
        }
        button{
            width: 220px;
            font-size: 40px;
            align-content: center;
        }
    </style>
</head>
<body>
    <form action="" method="POST">
        <input type="hidden" name="role" value="user">
        <button type="submit">User</button>
    </form>
    <form action="" method="POST">
        <input type="hidden" name="role" value="moderator">
        <button type="submit">Moderator</button>
    </form>
</body>
</html>
