<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        form{
            display: flex;
            flex-direction: column;
            align-items: center; 
        }
        h1{
            color: black;
            text-align: center;
            font-size: 60px;
            margin-bottom: 100px;
        }
        input, button{
            margin-top: 15px;
        }
    </style>
</head>
<body>
    <h1>Register</h1>
    <form action="" method="POST">
        <input name="login" value="login">
        <input name="password" value="password">
        <input name="passwordRpt" value="passwordRpt">
        <input name="userRole" value="userRole">

        <button type="submit">submit</button>
    </form>
</body>
</html>